#header{
	background-color: #f9f9f9;
	padding: 8px 0;
	.social-icons{
		float: left;
		li{
			display: inline-block;
			margin: 5px;
			a{
				color: #444;
			}
		}
	}
	.contact-info{
		float: right;
		li{
			display: inline-block;
		    margin: 0 10px;
			font-size: 90%;
		}
	}
}
#logo{
	a{
		color: #000;
		h1{
			font-family: 'Dancing Script', cursive;
			font-size: 80px;
			margin-bottom: 5px;
			font-weight: 800;
		}
	}
}
#menu{
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    background: #FFF;
    top: 0;
    line-height: 90px;
    z-index: 9999;
    #logo-small {
    	opacity: 0;
    	margin-top: 10px;
    	h1 {
		    font-family: 'Dancing Script', cursive;
		    font-size: 40px;
		    line-height: 40px;
		    margin: 0;
		    &:hover{
		    	a{
		    		color: #000;	
		    	}
		    }
    	}
    }
	.nav-menu{
		text-align: center;
		list-style: none;
	    padding: 0;
	    margin: 0;
	    z-index: 9;
	    display: block;
		> li{
			display: inline-block;
			position: relative;
			padding: 0;
		    &.menu-item-has-children{
		    	> a{
			    	&:after{
		    		    font-family: "FontAwesome";
						content: " \f107";
			    	}
		    	}
		    }
			> a{
			    color: #000;
			    display: inline-block;
			    font-size: 12px;
			    font-weight: bold;
			    letter-spacing: 2px;
			    padding: 0 15px;
			    text-transform: uppercase;
			    &:hover,
			    &.active{
		    	    color: #cf9f6a;
			    }
			}
			> ul{
				width: 240px;
				display: none;
				margin: 0;
			    position: absolute;
			    z-index: 10;
		        background: #fff;
			    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
			    padding: 20px;
			    -webkit-transition: color 400ms, background-color 400ms;
    			transition: color 400ms, background-color 400ms;
				> li{
				    display: block;
				    padding: 0;
				    position: relative;
				    transform-style: all 3s;
					> a{
						display: block;
					    padding: 10px;
					    color: #333;
					    cursor: pointer;
			    		line-height: 24px;
					    text-align: left;
					}
				    &:hover{
			    	    background: #cf9f6a;
			    	    a{
			    	    	color: #FFFFFF;
			    	    }
				    }
				}
			}
		}
	}
}

.canvas-wrapper{
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 24px;
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.8);
    content: '';
    opacity: 0.8;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    z-index: 999;
    -webkit-transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
    transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
}
#offcanvas-menu{
    -webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), right 400ms cubic-bezier(0.7,0,0.3,1);
    transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), right 400ms cubic-bezier(0.7,0,0.3,1);
    width: 280px;
    height: 100%;
    background: #fff;
    color: #999;
    position: fixed;
    top: 0;
    right: -280px;
    opacity: 0;
    z-index: 9999;
    overflow-y: scroll;
    padding: 20px;
    .close-offcanvas {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    z-index: 1;
	    color: #000;
	    border: 2px solid #eee;
	    border-radius: 100%;
	    width: 22px;
	    height: 22px;
	    line-height: 18px;
	    text-align: center;
	    font-size: 12px;
	}
	ul{
	    margin: 0 -20px;
	    li{
    	    display: block;
		    -webkit-transition: 300ms;
		    transition: 300ms;
	    	a{
    		    border-bottom: 1px dotted #e8e8e8;
			    -webkit-transition: 300ms;
			    -o-transition: 300ms;
			    display: block;
		        line-height: 36px;
			    transition: 300ms;
			    color: #000;
			    padding: 4px 20px;
			    &:hover{
			    	background: #f5f5f5;
			    }
	    	}
	    	> ul {
	    		padding: 0;
	    		margin: 0;
	    	}
	    }
	}	
}
#slider{
    margin: 50px 0 0 0;
	.bxslider{
		li{
			position: relative;
			&:hover{
				.bx-controls-direction{
					display: block;
				}
			}
			img{
			    width: 100%;
			    height: 100%;
    			display: block;
			}
			.slide-caption{
			    background: rgba(255, 255, 255, 1);
			    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.25);
			    color: #000;
			    display: table-cell;
			    left: 50%;
			    margin-left: -20%;
			    text-align: center;
			    top: 40%;
			    vertical-align: middle;
			    width: 40%;
			    position: absolute;
			    padding: 20px;
			    h2{
		    	    font-size: 150%;
				    font-weight: bold;
				    letter-spacing: 2px;
				    line-height: 40px;
				    margin: 30px 0;
				    text-transform: uppercase;
			    }
			    h3{
		    	    border-bottom: 1px solid #cf9f6a;
				    border-color: #cf9f6a;
				    color: #cf9f6a;
		    	    display: inline-block;
				    font-size: 10px;
				    letter-spacing: 2px;
				    margin: 0 4px 12px;
				    padding-bottom: 2px;
				    text-transform: uppercase;
			    }
			    a{
		    	    background: #ffffff none repeat scroll 0 0;
				    color: #000;
				    display: inline-block;
				    font-size: 10px;
				    font-weight: 700;
				    letter-spacing: 2px;
				    padding: 12px 25px;
				    text-transform: uppercase;
				    transition: all 0.2s ease 0s;
				    &:hover{
			    	    background: #cf9f6a none repeat scroll 0 0;
    					border: 1px solid #cf9f6a;
				    }
			    }
			}
			@media screen and (min-width:769px) and (max-width:981px){
				.slide-caption {
					margin-left: -30%;
					top: 15%;
					width: 60%;
					h2{
						font-size: 35px;
					}
				}
			}
			@media screen and (max-width:768px){
				.slide-caption {
					margin-left: -30%;
					top: 15%;
					width: 60%;
					h2{
						font-size: 30px;
					}
				}
			}
			@media screen and (min-width:480px) and (max-width:768px){
				.slide-caption{
					h2{
						font-size: 20px;
						line-height: 20px;
						margin: 10px 0;
					} 
					h3{
						margin: 0;
					}
					a{
						font-size: 7px;
						padding: 3px 10px;
					}
				}
			}
			@media screen and (max-width: 480px){ 
				.slide-caption {
					margin-left: -35%;
					top: 10%;
					width: 70%;
					h2{
						font-size: 15px;
						line-height: 15px;
						margin: 10px 0;
					}
					h3{
						margin: 0;
					}
					a{
						font-size: 7px;
						padding: 0 5px;
					}
				}
			}
		}
	}
}
article{
	margin: 50px 0;
	#main-content{
		.leading{
			margin-bottom: 50px;
		}
		.item{
			.entry-image,
			.entry-gallery,
			.entry-video,
			.entry-audio,
			.entry-link{
				margin-bottom: 30px;
			}
			.entry-video,
			.entry-audio{
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;
				iframe{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.entry-quote{
			    position: relative;
			    padding: 50px;
			    color: rgba(255,255,255,0.9);
			    &:before{
		    	    position: absolute;
				    left: 0px;
				    font-size: 60px;
				    content: "\f10e";
				    font-family: FontAwesome;
				    transform: rotate(-180deg);
				    top: 0px;
				    color: rgba(0,0,0,0.45);
			    }
				blockquote{
				    border: 1px dashed rgba(0, 0, 0, 0.3);
				    font-size: 16px;
				    margin-bottom: 0;
				    margin-right: 0;
				    margin-top: 0;
				    padding: 20px;
				    p{
			    	    font-style: italic;
						color: #333;
				    }
				    small{
			    	    color: #000;
					    font-weight: 600;
					    font-size: 20px;
					    font-family: 'Dancing Script', cursive;
					    &:before{
				    	    content: '\2014 \00A0';
					    }
				    }
				}
			}
			.entry-status {
				background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
				border: 1px dashed rgba(0, 0, 0, 0.5);
				padding: 30px;
				text-align: center;
			}
			.entry-header{
				text-align: center;
			    position: relative;
		    	margin-bottom: 30px;
		    	.post-format{
				    color: #ccc;
				    font-size: 24px;
				    height: 24px;
				    line-height: 24px;
				    text-align: center;
				    top: 0;
				    width: 24px;
		    	}
		    	h2{
		    		font-size: 120%;
				    font-weight: bold;
				    letter-spacing: 2px;
				    line-height: 1;
				    text-align: center;
				    text-transform: uppercase;
				    a{
				    	color: #000;
				    }
		    	}
			}
			.article-info {
			    line-height: 12px;
			    margin: 0 0 5px;
			    text-align: center;
			    > dd {
			    	font-size: 10px;
		    	    display: inline-block;
					color: #666;
					text-transform: uppercase;
					margin: 0 8px;
					> i {
						display: inline-block;
		    			margin-right: 3px;
					}
			    }
			}
			p.readmore {
			    margin: 30px 0;
			    text-align: center;
			    a.btn{
		    	    background: #ffffff none repeat scroll 0 0;
				    border-radius: 0;
				    color: #000;
				    display: inline-block;
				    font-size: 10px;
				    font-weight: 700;
				    letter-spacing: 2px;
				    padding: 12px 25px;
				    text-transform: uppercase;
				    transition: all 0.2s ease 0s;
				    border: 1px solid #cf9f6a;
				    &:hover{
				    	color: #FFF;
				    	background: #cf9f6a;
				    }
			    }
			}
		}
		.normal-post{
			.col-sm-6{
				&:nth-of-type(2n+1){
					clear: both;
				}
			}
		}
		.wp-pagenavi {
		    display: inline-block;
		    padding-left: 0;
		    margin: 20px 0;
		    border-radius: 4px;
		    	span,a{
		    		display: inline-block;
		    		border-radius: 0;
		    		border: none;
		    		color: #666;
		    		background-color: #eee;
	    			border-color: #ddd;
    			    position: relative;
				    padding: 6px 12px;
				    line-height: 1.42857143;
				    text-decoration: none;
			    	& + span,
			    	& + a{
		    			margin-left: 5px;
			    	}
		    	}
		    > .current {
	    		background: #cf9f6a;
	    		color: #FFF;
	    	}
		}
	}
}
#sidebar{
	.widget_search{
		input{
			border-radius: 0;
		}
		list-style: none;
	}
	ul{
		li{
			list-style: none;
		}
	}
}
.module{
    margin-top: 50px;
	.module-title{
		background: #f1f1f1 none repeat scroll 0 0;
	    color: #000;
	    font-size: 11px;
	    font-weight: bold;
	    letter-spacing: 2px;
	    margin-bottom: 25px;
	    padding: 15px 0;
	    position: relative;
	    text-align: center;
	    text-transform: uppercase;
	    line-height: 1;
	    &:after{
    	    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 5px solid #f1f1f1;
		    bottom: -5px;
		    content: "";
		    display: block;
		    height: 0;
		    left: 50%;
		    margin-left: -5px;
		    position: absolute;
		    width: 0;
	    }
	}
	.module-content{
		ul{
			> li {
				> a {
					display: block;
				    padding: 5px 0;
				    line-height: 36px;
				    padding: 2px 0;
				    -webkit-transition: 300ms;
				    transition: 300ms;
				}
			}
		}
		.latestnews{
			.new{
				padding-bottom: 5px;
			    margin-bottom: 5px;
			    border-bottom: 1px solid #e8e8e8;
			    a{
		    	    color: #000000;
		    	    display: block;
		    	    font-weight: 400;
			    }
			}
		}
		.side-menu{
			li{
				display: block;
			    -webkit-transition: 300ms;
			    transition: 300ms;
			    a{
					border-bottom: 1px solid #e8e8e8;
		    	    display: block;
				    line-height: 36px;
				    padding: 2px 0;
				    color: #000;
				    &:before{
			    	    font-family: FontAwesome;
					    content: "\f105";
					    margin-right: 8px;
				    }
			    }
			}
		}
		.banner{
			margin-top: 10px;
			a{
				display: block;
			    overflow: hidden;
			    position: relative;
			    transition: all 0.2s ease-in 0s;
			    &:before{
		    	    border-bottom: 1px solid #fff;
				    border-top: 1px solid #fff;
				    bottom: 25px;
				    content: " ";
				    left: 12px;
				    opacity: 0;
				    position: absolute;
				    right: 12px;
				    top: 25px;
				    transform: scale(0, 1);
				    transform-origin: 0 0 0;
				    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
				    z-index: 1;
			    }
			    &:after{
				    border-left: 1px solid #fff;
				    border-right: 1px solid #fff;
				    bottom: 12px;
				    content: "";
				    left: 25px;
				    opacity: 0;
				    position: absolute;
				    right: 25px;
				    top: 12px;
				    transform: scale(1, 0);
				    transform-origin: 100% 0 0;
				    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
				    z-index: 1;
			    }
		    	&:hover{
		    		&:after,
		    		&:before{
			    		opacity: 1;
    					transform: scale(1);
		    		}
		    	}
			    img{
		    	    opacity: 0.8;
    				transform: scale(1.05);
				}
		    }
		}
		.gallery{
			overflow: hidden;
			li{
				border: 0 none;
			    float: left;
			    margin-top: 8px;
			    padding: 0;
			    width: 32%;
			    &:nth-of-type(3n+2){
			    	margin-right: 2%;
			    	margin-left: 2%;
			    }
			    &:nth-of-type(3n+1){
			    	clear: both;
			    }
			}
		}
		.popular-tags{
			ul{
				li{
					border: 0 none;
				    display: inline-block;
				    margin: 0 5px 5px 0;
				    a{
			    	    background: #f1f1f1 none repeat scroll 0 0;
					    color: #666;
					    display: inline-block;
					    font-size: 9px !important;
					    letter-spacing: 1px;
					    padding: 0 8px;
					    text-transform: uppercase;
					    transition: all 0.3s ease 0s;
					    .tag-count{
				    	    background: #fff none repeat scroll 0 0;
						    border-radius: 100%;
						    color: #b97e3c;
						    font-size: 9px;
						    font-weight: normal;
					    }
				    }
				}
			}
		}
		.customcontact{
			ul{
				li{
					display: block;
					border-bottom: 1px solid #e8e8e8;
				    -webkit-transition: 300ms;
				    transition: 300ms;
				    span{
				    	margin-right: 5px;
				    }
				    a{
					    line-height: 36px;
					    padding: 2px 0;
					    color: #000;
					}
				}
			}
		}
	}
}
#sub-footer{
    background-color: #f5f5f5;
    padding: 50px 0px;
    .bx-wrapper {
    	.bx-controls-direction {
    		a {
    			top: 25%;
    		}
    	}
    }
    .module{
		.module-title{
			background: transparent url(../images/bottom-h3-line.jpg) no-repeat scroll left bottom;
		    color: #333;
		    font-size: 110%;
		    font-weight: bold;
		    letter-spacing: 2px;
		    margin: 0 0 30px;
		    padding: 0 0 10px;
		    text-transform: uppercase;
		    text-align: left;
	    }
	}
}
footer{
	background: #e1e1e1 none repeat scroll 0 0;
	color: #888;
	padding: 20px 0;
	text-align: center;
}

#offcanvas-toggler {
    float: right;
    line-height: 90px;
    > i {
    	color: #000;
    	display: inline-block;
		padding: 0 0 0 10px;
		font-size: 18px;
		background: transparent;
		margin: 5px 0 27px 0;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition: color 400ms, background-color 400ms;
		-o-transition: color 400ms, background-color 400ms;
		transition: color 400ms, background-color 400ms;
    }
}

.pager{
	a{
		&:hover{
			color: #cf9f6a;
		}
	}
	.glyphicon{
		top: 2x;
	}
}

.search {
	.btn-toolbar {
    	margin-bottom: 20px;
	}
	.phrases {
		.phrases-box {
			.controls {
				label {
				    display: inline-block;
				    margin: 0 20px 20px;
				}
			}
		}
		.ordering-box {
			margin-bottom: 15px;
			select{
				display: block;
				width: 220px;
			}
		}
	}
	.only {
		label {
		    display: inline-block;
		    margin: 0 20px 20px;
		}
	}
}

.bx-wrapper {
	.bx-viewport{
		box-shadow: none;
		border: none;
		background: transparent;
	}
	.bx-pager.bx-default-pager {
		bottom: 5px;
		a{
			width: 12px;
			height: 12px;
			border-radius: 10px;
			background: transparent;
			border: 1px solid #FFF;
			&.active{
				background: #FFF;
			}
		}
	}
}