@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,600,regular&amp;latin);
body{
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 24px
}
a{
	color: #cf9f6a;
    -webkit-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
	&:hover{
		text-decoration: none;
	    -webkit-transition: 300ms;
	    transition: 300ms;
	}
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6{
	letter-spacing: 2px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
label{
	font-weight: normal;
}
legend{
    padding-bottom: 10px;
}
.form-control{
	border-radius: 0;
}
h3.title{
	font-size: 110%
}